*.swp
*.o
*.lo
*.la

.deps
.libs

Makefile
Makefile.in
configure

config.h
config.log
config.status
config.sub
config.guess
autom4te.cache

libtool
install-sh
ltmain.sh
missing
stamp-it
stamp-h1
aclocal.m4
compile
depcomp

.svn

gemanx.desktop
gemanx-gtk2.spec
src/gemanx
po/POTFILES
Doxygen
